.top-sports {
  @include card-container;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  &__sport {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
    border-radius: 12px;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-primary);
  }

  &__rank {
    font-size: 14px;
    font-weight: 600;
  }
}
