.ratings-page {
  display: grid;
  grid-template-columns: 1fr fluid(308, 280);
  grid-template-areas:
    'top-players ranking'
    'leaderboard sports'
    'leaderboard challenge';
  gap: fluid(24, 16);

  @include tablet {
    grid-template-columns: 1fr;
    grid-template-areas:
      'top-players'
      'leaderboard';
  }

  .top-players {
    grid-area: top-players;
  }

  .leaderboard {
    grid-area: leaderboard;
  }

  .your-ranking {
    grid-area: ranking;
  }

  .top-sports {
    grid-area: sports;
  }

  .weekly-challenge {
    grid-area: challenge;
  }
}
