.home-page {
  display: grid;
  grid-template-columns: 1fr fluid(308, 280);
  grid-template-areas:
    'hero create'
    'games notifications';
  gap: fluid(24, 16);

  @include tablet {
    grid-template-columns: 1fr;
    grid-template-areas:
      'hero'
      'games';
  }

  .hero-banner {
    grid-area: hero;
  }

  .games-section {
    grid-area: games;
  }

  .create-game {
    grid-area: create;
  }

  .notifications-panel {
    grid-area: notifications;
  }
}
