.header {
  padding: fluid(16, 8) fluid(24, 16);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: fluid(24, 12);
  }

  &__logo {
    flex-shrink: 0;
  }

  &__search {
    flex-grow: 1;
    position: relative;
    max-width: 320px;

    &-icon {
      position: absolute;
      top: 50%;
      left: fluid(20, 12);
      color: var(--color-text-muted);
      translate: 0 -50%;
      pointer-events: none;

      @include square(20px);
    }

    &-input {
      width: 100%;
      padding: fluid(14, 10) fluid(16, 12) fluid(14, 10) fluid(48, 40);
      font-family: inherit;
      font-size: fluid(16, 14);
      font-weight: 300;
      color: var(--color-text-primary);
      background-color: var(--color-bg-white);
      border: none;
      border-radius: var(--border-radius-full);
      outline: none;
      box-shadow: 10px 0 65px rgb(155 155 155 / 8%);

      &::placeholder {
        color: var(--color-text-muted);
      }

      &:focus {
        box-shadow: 10px 0 65px rgb(155 155 155 / 16%);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: fluid(16, 8);
  }

  &__badge,
  &__coins {
    gap: 8px;
    padding: 4px;
    font-size: fluid(16, 14);

    .badge__icon {
      @include square(fluid(32, 18));
    }
  }

  &__icon-btn {
    @include flex-center;
    @include square(40px);

    padding: 0;
    color: var(--color-text-muted);
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    cursor: pointer;

    .icon {
      @include square(20px);
    }

    @include hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 4px;
    background-color: var(--color-bg-white);
    border-radius: var(--border-radius-full);
    cursor: pointer;

    &-avatar {
      @include flex-center;
      @include square(32px);

      font-size: 12px;
      font-weight: 500;
      color: var(--color-accent);
      background-color: var(--color-accent-light);
      border: 2px solid var(--color-bg-white);
      border-radius: 50%;

      &-text {
        line-height: 1;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 1px;
    }

    &-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      color: var(--color-text-primary);
    }

    &-role {
      font-size: 12px;
      line-height: 1.2;
      color: #8f95b2;
    }

    &-chevron {
      @include square(20px);

      color: var(--color-text-secondary);
    }
  }
}
