.mobile-tab-bar {
  position: fixed;
  z-index: 20;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 16px;
  padding-bottom: env(safe-area-inset-bottom, 0);
  background-color: var(--color-bg-white);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 73.5px rgb(0 0 0 / 8%);

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    flex: 1;
    list-style: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    padding: 16px 0;
    color: var(--color-text-muted);
    border-top: 2px solid transparent;

    &.is-active {
      color: var(--color-accent);
      border-top-color: var(--color-accent);
    }

    @include hover {
      color: var(--color-accent);
    }
  }

  &__icon {
    @include square(22px);
  }

  &__label {
    font-size: 11px;
    font-weight: 600;
  }
}
